@font-face {
  font-family: medievilFont;
  src: url(../assets/Alkhemikal.ttf);
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f6e9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-family: medievilFont;
}

.img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}

.h1 {
  font-size: 80px;
  color: #5a2e2e;
}
.p {
  font-size: 30px;
}

.img {
  width: 300px;
  height: auto;
}

.button {
  padding: 10px 20px;
  background-color: #8b5a2b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: medievilFont;
  font-size: 24px;
  transition: background-color 0.3s, transform 0.2s;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    border-radius 0.3s ease background-color 0.3s;
  text-align: center;
}

.scrollImg {
  width: 100%; /* spans full container width */
  height: auto; /* preserves aspect ratio */
}

.scrollHeader {
  position: absolute;
  top: 100px; /* move it above container */
  left: -7%;
  width: 115%;
  height: auto; /* adjust */
  z-index: 10;
}

.scrollFooter {
  position: absolute;
  bottom: -1850px; /* move it above container */
  width: 115%;
  left: -7%;
  height: auto; /* adjust */
  z-index: 10;
}

.scrollImg {
  width: 40%;
  height: 40%; /* fills the scrollHeader height */
  object-fit: cover; /* preserves aspect ratio, fills container */
  image-rendering: pixelated;
}
