@font-face {
  font-family: medievilFont;
  src: url(../assets/Alkhemikal.ttf);
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f6e9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-family: medievilFont;
}

.img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #5a2e2e;
  margin-bottom: 10px;
  font-size: 80px;
}

.form p {
  font-size: 30px;
}

.label {
  margin-top: 10px;
  color: #5a2e2e;
  font-weight: bold;
  font-size: 30px;
}

.input,
.textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #a78b5d;
  border-radius: 4px;
  background: #ffffff;
  width: 100%;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #8b5a2b;
}

.invalid {
  border-color: #e74c3c;
}

.error-text {
  color: var(--color-primary-100);
  font-size: 1.3em;
}

.button {
  padding: 10px;
  background-color: #8b5a2b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #5a3e25;
}

.button:active {
  background-color: #3d281b;
}

.form-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.button {
  padding: 10px 20px;
  background-color: #8b5a2b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: medievilFont;
  font-size: 24px;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
}

.scrollImg {
  width: 100%; /* spans full container width */
  height: auto; /* preserves aspect ratio */
}

.scrollHeader {
  position: absolute;
  top: 110px; /* move it above container */
  left: -7%;
  width: 115%;
  height: auto; /* adjust */
  z-index: 10;
}

.scrollFooter {
  position: absolute;
  bottom: -300px; /* move it above container */
  width: 115%;
  left: -7%;
  height: auto; /* adjust */
  z-index: 10;
}

.scrollImg {
  width: 40%;
  height: 40%; /* fills the scrollHeader height */
  object-fit: cover; /* preserves aspect ratio, fills container */
  image-rendering: pixelated;
}
