.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f6e9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-family: "medievilFont", sans-serif;
}

.h1 {
  font-size: 3em;
  color: #5a2e2e;
  text-align: center;
}

.intro {
  font-size: 1.2em;
  color: #4e4e4e;
  margin-bottom: 1.5rem;
}

.languages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.column {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #a78b5d;
  border-radius: 4px;
  font-size: 30px;
}

.column h2 {
  font-size: 1.5em;
  color: #5a2e2e;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column li {
  color: #4e4e4e;
}

.projects {
  margin-top: 2rem;
}

.project {
  margin-bottom: 2rem;
  padding: 10px;
  border: 1px solid #a78b5d;
  border-radius: 4px;
  background: #ffffff;
}

.h2 {
  margin: 0;
  color: #5a2e2e;
  font-size: 80px;
}
.project h3 {
  margin: 0;
  color: #5a2e2e;
  font-size: 40px;
}

.project p {
  color: #4e4e4e;
  font-size: 20px;
}

.project a {
  color: #3f3ce7;
  text-decoration: none;
  font-size: 30px;
}

.project a:hover {
  text-decoration: underline;
}

.backButton {
  text-align: center;
  margin-top: 2rem;
}

.button {
  padding: 10px 20px;
  background-color: #8b5a2b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: medievilFont;
  font-size: 24px;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
}

.button:hover {
  background-color: #5a3e25;
}

.img {
  width: 300px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}

.img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.scrollImg {
  width: 100%; /* spans full container width */
  height: auto; /* preserves aspect ratio */
}

.scrollHeader {
  position: absolute;
  top: 100px; /* move it above container */
  left: -7%;
  width: 115%;
  height: auto; /* adjust */
  z-index: 10;
}

.scrollFooter {
  position: absolute;
  bottom: -4500px; /* move it above container */
  width: 115%;
  left: -7%;
  height: auto; /* adjust */
  z-index: 10;
}

.scrollImg {
  width: 55%;
  height: 55%; /* fills the scrollHeader height */
  object-fit: cover; /* preserves aspect ratio, fills container */
  image-rendering: pixelated;
}
