@font-face {
  font-family: medievilFont;
  src: url(../assets/Alkhemikal.ttf);
}

.header {
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.navBanner {
  position: relative;
  width: 180px;            /* adjust as needed */
  height: 60px;            /* adjust to banner height */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  transition: transform 0.2s;
}

.navBanner:hover {
  transform: translateY(-2px);
}

.navText {
  color: rgb(117, 59, 59);
  font-family: medievilFont;
  font-size: 30px;
  font-weight: bold;
  pointer-events: none; /* ensures text doesn’t block clicks */
}

