@font-face {
  font-family: medievilFont;
  src: url(../assets/Alkhemikal.ttf);
}

.loader {
  position: fixed;
  inset: 0;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: medievilFont;
  opacity: 100;
  transition: opacity 1.6s ease;
}

.fadeOut {
  opacity: 0;
}


/* DARK OVERLAY FOR READABILITY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

/* FOREGROUND CONTENT */
.box {
  position: relative;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

.text {
  font-size: 16px;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

/* BAR */
.bar {
  display: flex;
  gap: 6px;
  padding: 6px;
  border: 4px solid #ffffff;
  width: fit-content;
  margin: 0 auto;
}

/* TILE */
.tile {
  width: 14px;
  height: 18px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  background: transparent;
}

.tile.active {
  background: #ffffff;
}